{% extends "errors/_shell.html" %}
{% load static %}

{% block title %}Bad request{% endblock %}
{% block code %}Error 400{% endblock %}
{% block heading %}That request could not be understood{% endblock %}
{% block message %}Something about the request was malformed, so it was rejected before it reached the application. Please go back and try again.{% endblock %}
{% block home_url %}{% url "home" %}{% endblock %}

{% block extra_actions %}
<a class="button secondary" href="{% url "dashboard" %}">Go to dashboard</a>
{% endblock %}
