{% extends "errors/_shell.html" %}
{% load static %}

{% block title %}Server error{% endblock %}
{% block code %}Error 500{% endblock %}
{% block heading %}Something went wrong at our end{% endblock %}
{% block message %}The error has been logged and will be looked into. Nothing you submitted has been lost if you saw a confirmation. Please try again in a moment.{% endblock %}
{% block home_url %}{% url "home" %}{% endblock %}

{% block extra_actions %}
<a class="button secondary" href="{% url "dashboard" %}">Go to dashboard</a>
{% endblock %}
